<div class="row">
  <div class="col-xs-12">
    <nav role="pagination">
      <ul class="pager">
        {{#if prev}}
        <li class="prev {{^if prev}}disabled{{/if}}">
          <a class="newer-posts" href="{{page_url prev}}">&larr;</a>
        </li>
        {{/if}}
        {{#if next}}
        <li class="next {{^if next}}disabled{{/if}}">
          <a class="older-posts" href="{{page_url next}}">&rarr;</a>
        </li>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>
